version: '3'
services:
  opencti-dev-redis:
    container_name: opencti-dev-redis
    image: redis:7.4.3
    restart: unless-stopped
    ports:
      - "6379:6379"
  opencti-dev-opensearch:
    container_name: opencti-dev-opensearch
    image: opensearchproject/opensearch:2.19.2
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - "OPENSEARCH_JAVA_OPTS=-Xms8G -Xmx8G"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD}
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9300:9300"
  opencti-dev-dashboards:
    container_name: opencti-dev-dashboards
    image: opensearchproject/opensearch-dashboards:2.19.2
    environment:
      - OPENSEARCH_HOSTS=http://opencti-dev-opensearch:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    restart: unless-stopped
    ports:
      - "5601:5601"
    depends_on:
      - opencti-dev-opensearch
  opencti-dev-minio:
    container_name: opencti-dev-minio
    image: minio/minio:RELEASE.2024-01-16T16-07-38Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped
  opencti-dev-rabbitmq:
    container_name: opencti-dev-rabbitmq
    image: rabbitmq:4.1-management
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
