version: '3'
services:
  opencti-dev-grakn:
    container_name: opencti-dev-grakn 
    image: graknlabs/grakn:1.5.8
    restart: always
    ports:
      - 48555:48555
  opencti-dev-redis:
    container_name: opencti-dev-redis
    image: redis:5.0.5
    restart: always
    ports:
      - 6379:6379
  opencti-dev-elasticsearch:
    container_name: opencti-dev-elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.0
    environment:
      - discovery.type=single-node
    restart: always
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - 9200:9200
      - 9300:minio
  opencti-dev-minio:
    container_name: opencti-dev-minio
    image: minio/minio:RELEASE.2019-10-12T01-39-57Z
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: ChangeMeAccess
      MINIO_SECRET_KEY: ChangeMeKey
    command: server /data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3      
  opencti-dev-rabbitmq:
    container_name: opencti-dev-rabbitmq
    image: rabbitmq:3.7.17-management
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
